<div class="gymshowheader addedit">
  <h3 class="gymshow name"><%= @gym.name %> |</h3>
  <p class="gymshow city"><%= @gym.location %></p>
  <p class="gymshow gymedit"><%= link_to "✎", edit_gym_path %></p>
</div>

<h2>Edit Gym</h2>

<div class="form">
  <!--Same as my comment on your courses views, but I would instead add a partial for this form, and here and in new.html.erb write
  <%render "form" %>
  This will dry up your code and render the form -->
  
  <%= form_for @gym do |f| %>

    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :location %><br>
      <%= f.text_field :location %>
    </p>

    <p>
      <%= f.submit "SAVE EDITS" %>
    </p>

  <% end %>

  <%= form_for @gym, method: :delete do |f| %>
    <%= f.submit "DELETE GYM ", class: "delete" %>
  <% end %>

</div>
