<div class="gymshowheader addedit">
  <h2 class="gymshow">Add New Gym</h2>
</div>

<div class="form">
<%= form_for @gym do |f| %>
<!--Using a helper allows you to exclude the authenticity token!  -->

  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>

  <p>
    <%= f.submit "ADD GYM" %>
  </p>

<% end %>

</div>
