<div class="gymshowheader">

  <h3 class="gymshow name"><%= @gym.name %> |</h3>
  <p class="gymshow city"><%= @gym.location %></p>
  <p class="gymshow gymedit"><%= link_to "✎", edit_gym_path %></p>

</div>

<div class="gymshowbody">

  <% @gym.courses.each do |course| %>
    <p class="title">
      <%= link_to course.title, gym_course_path(@gym, course), class:"arimolink" %>
    </p>
  <% end %>

  <h3 class="arimo"><%= link_to "Add New Route", new_gym_course_path(@gym), class: "arimolink add" %></h3>

</div>
