<div class="gymshowheader">
  <h3 class="gymshow name arimo"><%= link_to @gym.name, gym_path(@gym), class: "arimolink" %> |</h3>
  <p class="gymshow city"><%= @gym.location %></p>
  <p class="gymshow gymedit">✎</p>
</div>

<div class="gymshowheader courseshow addedit">
  <p class="courseheader title"><%= @course.title %></p>
  <p class="courseheader courseedit"><%= link_to "✎", edit_gym_course_path %></p><br>
</div>

<h2>Edit Route</h2>

<!--This form is almost identical to the new.html.erb one! I would use a partial:
 _.form.html.erb in your views, add this form, then render the partial here and in new.html.erb like
<%render "form" %>
This will dry up your code-->
<div class="form">
<%= form_for [@gym, @course] do |f| %>

  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :difficulty %><br>
    <%= f.text_field :difficulty %>
  </p>

  <p>
    <%= f.label :setter %><br>
    <%= f.text_field :setter %>
  </p>

  <p>
    <%= f.label :set_date %><br>
    <%= f.text_field :set_date %>
  </p>

  <p>
    <%= f.submit "SAVE EDITS" %>
  </p>

<% end %>

<%= form_for [@gym, @course], method: :delete do |f| %>
  <%= f.submit "DELETE ROUTE", class: "delete" %>
<% end %>
</div>
