<div class="gymshowheader">
  <h3 class="gymshow name arimo"><%= link_to @gym.name, gym_path(@gym), class: "arimolink" %> |</h3>
  <p class="gymshow city"><%= @gym.location %></p>
  <p class="gymshow gymedit">✎</p>
</div>
<!--Nice job here!  -->
<div class="courseshow">
  <div class="gymshowheader">
    <p class="courseheader title"><%= @course.title %></p>
    <p class="courseheader courseedit"><%= link_to "✎", edit_gym_course_path %></p><br>
  </div>
  <p class="difficulty"><%= @course.difficulty %></p><br>
  <p class="coursetag"><%= @course.setter %> |</p>
  <p class="coursetag"><%= @course.set_date %></p>
</div>
